.card {
  height: 50vh;
  width: 25vw;
  background-color: rgb(245, 212, 212);
  transition: 400ms;
}

.container {
  display: flex;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.1);
  transition: 400ms;
}
